body {
  background-color: var(--black-background-color);
  color: white;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav a {
  padding: 30px;
  text-align: center;
  cursor: pointer;
}
#login-btn {
  width: 100px;
  height: 50px;
  background-color: rgb(190, 41, 41);
  border: 1px solid rgb(190, 41, 41);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#header-logo {
  width: 170px;
  height: auto;
  margin-left: 20px;
  z-index: 1;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1000px;
  padding: 10px;
  border-radius: 5px;
}

.movie-info {
  width: 100%;
  height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.movie-img {
  width: 100%;
  height: 85%;
  border-top: 5px;
}

.movie-title {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 12px;
  font-size: 2rem;
  font-weight: 600;
}

.movie-rating {
  font-size: 1.6rem;
  font-weight: 600;
}

.movie-rating-number {
  color: yellowgreen;
  font-size: 2rem;
  font-weight: 600;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  color: #fff;
}

.text {
  padding: 0.8rem 5rem 0.8rem 0.4rem;
  border-radius: 1rem;
  padding-right: 0;
  width: 30rem;
}

ul {
  padding-left: 0;
  margin: 0 15rem 0 20rem;
}

#comment-list {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
}
#comment-list li {
  background-color: #d9d9d9;
  border: 0.2rem solid #d9d9d9;
  padding-bottom: 5rem;
  padding-left: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: auto;
  list-style: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
#comment-list button {
  margin-left: 0.9rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
}
.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 5px solid #d9d9d9;
  padding-bottom: 1rem;
}

.review-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.comment-input-btn {
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
  border-radius: 0.8rem;
}

fieldset {
  border: none;
  font-size: 1.3rem;
}
label {
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

#dark-mode,
#language-toggle {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid var(--black-99);
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

#dark-mode::before,
#language-toggle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: var(--black-99);
  transition: left 250ms linear;
}

#dark-mode:checked,
#language-toggle:checked {
  background-color: var(--red-30);
  border-color: var(--red-20);
}

#dark-mode:enabled:hover,
#language-toggle:enabled:hover {
  box-shadow: 0 0 0 max(1px, 0.1em) var(--black-99);
  cursor: pointer;
}

#dark-mode:checked::before,
#language-toggle:checked::before {
  background-color: var(--black-99);
  left: 1em;
}
