/* init CSS setting */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "pretendard";
  background-color: var(--black-background-color);
}

a {
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  position: fixed;
  z-index: 999;
  color: var(--red-99);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black-10);
  padding: 50px 0;
}

#header-logo {
  width: 170px;
  height: 35px;
  margin-top: 5px;
  z-index: 1;
  cursor: pointer;
}

#logo-section {
  display: flex;
}

#logo-section p {
  cursor: pointer;
  font-size: 1.5rem;
  padding-right: 20px;
}

.mypage {
  color: var(--white);
  padding: 0 10px;
  margin: 15px 20px 0 30px;
}

#login-section {
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* toggle */
fieldset {
  border: none;
  font-size: 1.3rem;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

#dark-mode,
#language-toggle {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid var(--black-99);
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

#dark-mode::before,
#language-toggle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: var(--black-99);
  transition: left 250ms linear;
}

#dark-mode:checked,
#language-toggle:checked {
  background-color: var(--red-30);
  border-color: var(--red-20);
}

#dark-mode:enabled:hover,
#language-toggle:enabled:hover {
  box-shadow: 0 0 0 max(1px, 0.1em) var(--black-99);
  cursor: pointer;
}

#dark-mode:checked::before,
#language-toggle:checked::before {
  background-color: var(--black-99);
  left: 1em;
}

#search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#search-input {
  font-family: inherit;
  width: 370px;
  height: 35px;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 1.2rem;
}

#search-button {
  font-family: inherit;
  width: 60px;
  height: 35px;
  border-radius: 5px;
}

#search-button:active {
  background-color: var(--black-90);
}

#search-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
}

#login-button {
  background-color: var(--red-20);
  border: 1px solid var(--red-30);
  border-radius: 3px;
  cursor: pointer;
  color: var(--red-99);
  padding: 10px 15px;
  font-size: 1.6rem;
  margin-left: 20px;
}

#login-button:hover,
#login-button:active {
  background-color: initial;
  color: var(--red-30);
}

#logout-button {
  display: none;
  font-family: inherit;
  font-size: 1.6rem;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

#logout-button:active {
  background-color: var(--black-90);
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

#modal-popup {
  height: 450px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: var(--black-30);
  border-radius: 20px;
}

#modal-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  align-items: center;
}

#modal-content input {
  font-family: inherit;
  font-size: 1.6rem;
  width: 200px;
  margin: 5px;
  padding: 5px;
  cursor: auto;
}

#modal-content hr {
  width: 90%;
  margin-top: 30px;
}

#question-signup {
  display: flex;
  flex-direction: row;
  font-family: inherit;
}

#question-signup p {
  font-family: inherit;
  font-size: 1.6rem;
}

#login-submit {
  background-color: var(--red-20);
  border: 1px solid var(--red-30);
  border-radius: 3px;
  cursor: pointer;
  color: var(--red-99);
  padding: 10px 15px;
  font-size: 1.6rem;
  width: 200px;
  margin: 5px;
  cursor: pointer;
}

#login-submit:active {
  background-color: var(--black-90);
}

#signup-form {
  background-color: var(--red-20);
  border: 1px solid var(--red-30);
  border-radius: 3px;
  cursor: pointer;
  color: var(--red-99);
  padding: 10px 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.6rem;
}

#signup-form:active {
  background-color: var(--black-90);
}

#signup-submit {
  background-color: var(--red-20);
  border: 1px solid var(--red-30);
  border-radius: 3px;
  cursor: pointer;
  color: var(--red-99);
  padding: 10px 15px;
  font-size: 1.6rem;
  width: 200px;
  margin: 5px;
  cursor: pointer;
}

#signup-submit:active {
  background-color: var(--black-90);
}

#close-modal {
  background-color: var(--red-20);
  border: 1px solid var(--red-30);
  border-radius: 3px;
  cursor: pointer;
  color: var(--red-99);
  padding: 10px 15px;
  font-size: 1.6rem;
  cursor: pointer;
}

#close-modal:active {
  background-color: var(--black-90);
}

#username-error {
  display: none;
  color: var(--white);
  font-size: 1.2rem;
}

#password-error {
  display: none;
  color: var(--white);
  font-size: 1.2rem;
}

/* movie-card */
#content-area {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 380px));
  justify-content: space-evenly;
  gap: 40px;
  margin: 50px 0;
  list-style: none;
}

.movie-card {
  position: relative;
  height: 550px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black-99);
  overflow: hidden;
  cursor: pointer;
}

.movie-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 0;
  right: -100%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 2rem;
  color: whitesmoke;
  transition: 0.5s;
}

.movie-card:hover .movie-info {
  right: 0;
  transition-delay: 0s;
}

.movie-img {
  width: 100%;
  height: 85%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-title {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 12px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.movie-rating {
  font-size: 1.6rem;
  font-weight: 600;
}

.movie-rating-number {
  color: yellowgreen;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 1080px) {
  #header-logo {
    display: none;
  }

  #search-input {
    width: 300px;
    margin-left: 25px;
  }
}

/* pagination-section */
#pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.page-number-btn,
#prev-page,
#next-page {
  cursor: pointer;
  color: var(--black-99);
  background-color: transparent;
  border: none;
  font-size: 1.9rem;
}

.page-number-btn:hover {
  color: var(--black-40);
}

.page-number-btn.active {
  color: var(--red-30);
}
