body{
    background-color: black;
    margin : 0;
}

.header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    color: #fff;
    width: 80rem;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    color:#fff;
    border-bottom: 0.1rem solid #d9d9d9;
    padding-bottom: 1rem;
    width: 80rem;
    
}
.text{
    padding: 0.5rem 5rem 0.5rem 0.4rem;
    border-radius: 1rem;
    padding-right: 0 ;
    width: 20rem;
}


ul{
    padding-left: 0;
    margin : 0 15rem 0 20rem;
    
}

#comment-list {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    
}
#comment-list li{
    background-color: #d9d9d9;
    border: 0.2rem solid #d9d9d9;
    padding-bottom: 5rem;
    padding-left: 2rem;
    border-radius: 1rem;
    width: 38rem;
    height: 0.1rem;
    margin-bottom: 1rem;

}
#comment-list button {
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    padding : 0.1rem 0.7rem 0.1rem 0.7rem;
    
}

